# DAY 1

In [ ]:
print("Abdul Malik")

Hello people, this is codemasterjii

print("code masterjii")

# CodeMasterJii

#This is first class

# DAY 2

In [ ]:
print("Abdul")

In [ ]:
print("Hello \
      python")

In [ ]:
print("""Abdul Malik""")

In [6]:
print('Hello World')

Hello World

In [7]:
print('Python's world')

SyntaxError: invalid syntax (<ipython-input-7-98b624cce3c5>, line 1)

In [8]:
print("Python's world")

Python's world

In [12]:
print("Hello\nPython")

Hello
Python

In [10]:
print('Python\'s world')

Python's world

formatted output

In [22]:
name = "xyz"
marks = "90"
age = "20"
print("The Name of person is ", name, "Marks is",marks, "Age is", age)

The Name of person is  xyz Marks is 90 Age is 20

In [29]:
print ("The name of person is %s marks is %f age is %d"%(name,marks, age))

TypeError: must be real number, not str

In [2]:
print("""Abdul Malik ('_')""")

Abdul Malik ('_')

In [3]:
print("Abdul Malik ('_')")

Abdul Malik ('_')

In [6]:
print(f"The name Of Person is {name} the marks is {95} age is {age}")

NameError: name 'name' is not defined

python variables and assignment statement

In [22]:
y=x=20
print(id(x))
print (x)
print(id(y))
del y

140732680938160
10
140732680938160

Python Operator

In [25]:
10%3

1

In [26]:
10/3

3.3333333333333335

In [27]:
10//3

3

In [28]:
5*2

10

In [29]:
5**2

25

In [30]:
25**(1/2)

5.0

In [31]:
25**(1//2)

1

Camparison Operator

In [32]:
a = 10
b = 20
a == b

False

In [33]:
c = 10
a == c

True

In [34]:
c < a

False

In [35]:
c <= a

True

In [36]:
c >= a

True

In [37]:
a<=b

True

In [39]:
a!=b

True

In [40]:
a == b

False

Assignment Operator

In [45]:
a=b

In [46]:
a+=b

In [47]:
a-=b

In [48]:
a*=b

In [49]:
a/=b

In [53]:
a=2
b=5
a**=b
print(a)

32

Bitwise Operators

|  Bitwise OR operator
&     ,,  AND operator
~  Binary one's Complement
^  Bitwise XOR Operation
<< Binary left shift
>> Binary right shift

In [54]:
a = 20
b = 1
a | b

21

In [55]:
bin(a)

'0b10100'

In [56]:
bin(b)

'0b1'

In [57]:
a & b

0

Logical Operator

True or True = True
True or F = True
F or T = True
F or F = False

T and F = False
F and T = F
F and F = F
T and T = F

In [60]:
a = 1
b = 20

In [61]:
a>b

False

In [62]:
a > 20 or 10>9

True

In [63]:
10 > 9 and 20 > m

NameError: name 'm' is not defined

In [64]:
10 < 9 and 20 > M

False

In [65]:
10 < 9

False

In [66]:
not 10 < 9

True

In [70]:
10 != 9

True

In [71]:
str1 = "pythonprogramming"
"a" in str1

True

In [72]:
str1 = "pythonprogramming"
"x" in str1

False

In [74]:
str1 = "pythonprogramming"
"x" not in str1

True

In [75]:
 a is b

False

In [76]:
id(a)

140732680937872

In [77]:
id(b)

140732680938480

In [78]:
x = 256
y = 256
x == y

True

In [79]:
x is y

True

In [80]:
x = 257
y = 257
x == y

True

In [81]:
x is y

False

In [102]:
x = -5
y = -5
x == y

True

In [103]:
x is y

True

In [104]:
x = -6
y = -6
x == y

True

In [105]:
x is y

False

In [106]:
x is y

False

In [107]:
x = -7
y =-7
x==y

True

In [108]:
x is y

False

Range of int "is" -5 to 256

In [95]:
10+10/20*4

12.0

In [96]:
10/29

0.3448275862068966

In [97]:
2**-1

0.5

In [98]:
2**1/2

1.0

In [100]:
2**2**2

16

In [101]:
2//2//2

0

In [109]:
8/2

4.0

In [110]:
8//2

4

In [111]:
10>8>9

False